<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/8baacd143d.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/style.css">
  <script defer src="/script/script.js"></script>
  <title>Home</title>
</head>
<body>
  <%- include("header")  %>

  <div class="msg-wrapper">

    <% if(locals.allPosts){%>
      <% locals.allPosts.forEach((posts)=> { %>
        <div class="msg">
          <h3 class="fullname">
            <%= posts.fullname%>
          </h3>
          <div class="usernameWithTime">
            <h4 class="username">
              @<%= posts.username%>
            </h4>
            <h6 class="time">
              <%= posts.time.toLocaleString() %>
            </h6>
          </div>

          <h3 class="title">
            <%= posts.title %>
        </h3>
        
        <p class="content">
          <%= posts.content %>
        </p>
      </div>
    <% }) %>
    <% } %>
    
  </div>
    
</body>
</html>