<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Document</title>
</head>
<body>
  <%- include("header")  %>
  <% if (locals.name){ %>
    <h2><%= locals.name.username  %></h2>
  <% } %>

  <% if(locals.allPosts){%>

    <% locals.allPosts.forEach((posts)=> { %>
      <div style="outline: auto; width: max-content; min-width: 300px; margin: 20px;">
        <h3>
          <%= posts.fullname%>
          <%= posts.username%>
        </h3>
        <h3>
          <%= posts.title %>
        </h3>
        
        <p>
          <%= posts.content %>
          <%= posts.time.toLocaleString() %>
        </p>
      </div>
    <% }) %>
  <% } %>
  
  <ul>
    <% if (locals.errors) { %>
      <pre><%= JSON.stringify(locals.errors,null, 2)  %></pre>
      
      <% locals.errors.forEach(err=> { %>
         <li><strong><%= err.path %></strong>: <%= err.msg %></li>
      <% }) %>
    <% } %>
  </ul>
</body>
</html>