<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Sign up</title>
  </head>
  <body>
  <!-- <header>
    <div class="logo"><a href="/">odins Memeber</a></div>
    
    
    <div class="btnWrapper">
      <a href="/login">Login</a>
      <% if (locals.name){ %>
        <a href="/loginout">Logout</a>
        <% } %>
        <a href="/signup">Signup</a>
      </div>
  </header> -->
    <%- include("header") %>
    <!-- the null part aka replacer "null" just tell it to not modify any thing from this
     <pre>JSON.stringify(errors, null, 2)</pre>
-->

    <form action="/signup" method="post">
      <h3>Sign up for new account</h3>
      <label for="fullname">Fullname</label>
      <input type="text" name="fullname" required/>

      <% if (locals.errors) { %>
        <% locals.errors.forEach((err)=> { %>
          <% if (err.path === "fullname") { %>
            <h5 style="color: red;"><%= err.msg  %></h5>          
       <% }}) %>
      <% } %>

      <label for="username">Username</label>
      <input type="text" name="username" required />

      <% if (locals.errors) { %>
        <% locals.errors.forEach((err)=> { %>
          <% if (err.path === "username") { %>
            <h5 style="color: red;"><%= err.msg  %></h5>          
       <% }}) %>
      <% } %>
      <label for="password">Password</label>
      <input type="password" name="password" required />
      <% if (locals.errors) { %>
        <% locals.errors.forEach((err)=> { %>
          <% if (err.path === "password") { %>
            <h5 style="color: red;"><%= err.msg  %></h5>
       <% }}) %>
      <% } %>
      <label for="confirm_password">Confirm password</label>
      <input type="password" name="confirm_password" required />
      <% if (locals.errors) { %>
        <% locals.errors.forEach((err)=> { %>
          <% if (err.path === "confirm_password") { %>
            <h5 style="color: red;"><%= err.msg  %></h5>
       <% }}) %>
      <% } %>
      <button type="submit">Register</button>
      <a href="/login">Login</a>

    </form>
  </body>
</html>
